body { 
    font-family: Arial, sans-serif;
    background-color: #b88adf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: rgb(229, 229, 229);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    color: #8a4cff;
    margin-bottom: 10px;
}

p {
    color: #333;
    font-size: 18px;
}

a {
    display: inline-block;
    margin-top: 20px;
    background: #8a4cff;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.3s;
}

a:hover {
    background: #a875ff;
}

